<ng-container *ngIf="customer$ | async as customer">
  <h3 class="text-center">Client</h3>

  <div class="card">
    <div class="card-body">
      <p class="card-text text-right">
        <button routerLink="/admin/commandes" class="btn-light btn-sm">
          🔙
        </button>
      </p>
      <p class="card-text"><strong>Email : </strong>{{ customer.email }}</p>
      <p class="card-text">
        <strong>Localisation : </strong>{{ customer.loc }}
      </p>
      <p class="card-text"><strong>Adresse IP : </strong>{{ customer.ip }}</p>
      <p class="card-text">
        <strong>Total dépensé : </strong>{{ customer.expenses }}
      </p>
      <p class="card-text">
        <strong>Nombre de commandes : </strong>{{ customer.ordersCount }}
      </p>
      <ul class="list-group">
        <li *ngFor="let m of customer.messages" class="list-group-item">
          {{ m.date | date: "short" }} : {{ m.message }}
        </li>
      </ul>
    </div>
  </div>
</ng-container>
