<ng-container *ngIf="customer$ | async as customer">
  <div class="card">
    <div class="card-body">
      <p class="card-text"><strong>Email : </strong>{{ customer.email }}</p>
      <p class="card-text">
        <strong>Localisation : </strong>{{ customer.loc }}
      </p>
      <p class="card-text"><strong>Adresse IP : </strong>{{ customer.ip }}</p>
      <p class="card-text">
        <strong>Total dépensé : </strong>{{ customer.expenses }}
      </p>
      <p class="card-text">
        <strong>Nombre de commandes : </strong>{{ customer.ordersCount }}
      </p>
    </div>
  </div>
</ng-container>
