<div class="h-100">
  <div class="row">
    <div class="col-6">
      <span *ngIf="product.gallery.length > 0" (click)="openModal()"
        ><img
          class="img-fluid"
          src="{{ mainPicture | size: '400' }}"
          alt="{{ product.title }}"
          id="mainpic"
      /></span>
    </div>
    <div class="col">
      <div>
        <p>
          <span
            class="float-right badge badge-pill"
            [ngClass]="{
              'badge-primary': product.status === 'réservé',
              'badge-danger': product.status === 'vendu',
              'badge-success': product.status === 'disponible'
            }"
            style="font-size: small;"
            >{{ product.status }}</span
          >
        </p>
        <h5>
          <span>
            {{ product.price | number: "1.0-0" }}
          </span>
          <img src="assets/dinar.png" alt="image devise" />
        </h5>
        <h5>
          {{ product.title }}
        </h5>
      </div>
      <div>
        <ul style="list-style: none;" class="list-inline">
          <li *ngFor="let s of product.stones" class="list-inline-item">
            <ng-container *ngIf="stoneService.getStoneObject(s) as stone">
              <a
                routerLink="/"
                [queryParams]="{ pierre: stone.name }"
                class="StoneFilter"
                [ngStyle]="{ color: stone.cssColor }"
                >{{ stone.name }}</a
              >
            </ng-container>
          </li>
        </ul>
      </div>
      <div>
        <ul style="list-style: none;" class="list-inline">
          <li *ngFor="let c of product.colors" class="list-inline-item">
            <ng-container *ngIf="colorService.getColorObject(c) as color"
              ><a routerLink="/" [queryParams]="{ couleur: color.name }">
                <img
                  class="Color"
                  src="assets/colors/{{ color.key }}.gif"
                  [alt]="color.name"
                />
              </a>
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul *ngIf="product.gallery.length > 0" class="list-inline mt-2">
    <li
      class="list-inline-item"
      *ngFor="let picture of product.gallery; let i = index"
    >
      <a (click)="selectedPicture = i" [routerLink]=""
        ><img
          [ngClass]="{
            selected: selectedPicture === i,
            notSelected: selectedPicture !== i
          }"
          class="img-fluid"
          src="{{ picture | size: '100' }}"
          alt="{{ product.title }}"
      /></a>
    </li>
  </ul>
  <ng-template #modal>
    <!-- Modal Content (The Image) -->
    <img alt="{{ product.title }}" class="img-fluid" src="{{ mainPicture }}" />
  </ng-template>
</div>
