<div class="container">
  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">
    Arc en perles 🌈💎🦪📿
  </h1>

  <hr class="mt-2 mb-5" />

  <div class="row text-center text-lg-left">
    <div
      *ngFor="let product of filteredProducts"
      class="col-lg-3 col-md-4 col-6"
    >
      <a routerLink="/produits/{{ product.id }}" class="d-block mb-4 h-100">
        <img
          class="img-fluid img-thumbnail"
          src="{{ product.gallery[0] | size: '400' }}"
          alt=""
        />
      </a>
    </div>
  </div>
</div>
