<div class="card" *ngIf="order">
  <div class="card-body">
    <ul
      class="list-group-flush"
      *ngIf="locService.location$ | async as location"
    >
      <p class="card-text">
        <strong>Référence : {{ order.id }}</strong>
        <ng-container *ngIf="authService.user$ | async as user">
          <button
            *ngIf="user.type === 'admin' && order.status !== 'terminée'"
            class="btn btn-light float-right"
            (click)="cancelOrder()"
          >
            annuler ma commande
          </button>
        </ng-container>
      </p>
      <p class="card-text">
        <strong>Status : </strong
        ><span
          class="badge"
          [ngClass]="{
            'badge-primary': order.status === 'confirmée',
            'badge-warning': order.status === 'annulée',
            'badge-success': order.status === 'terminée'
          }"
          >{{ order.status }}</span
        >
      </p>
      <p class="card-text">
        <strong>Commande du : </strong>
        {{ order.datePlaced | date: "long" }}
      </p>
      <p class="card-text"><strong>Email : </strong> {{ order.email }}</p>
      <p class="card-text"><strong>Message : </strong> {{ order.message }}</p>
      <li class="list-group-item" *ngFor="let item of order.items">
        <img
          src="{{ item.mainPicture | size: '100' }}"
          class="mr-5 thumbnail"
          alt="{{ item.title }}"
        />
        <span style="text-align: right;">
          {{ item.title }} : {{ item.quantity }} x
          {{ item.price | number: "1.0-2" }} =
          {{ item.quantity * item.price | number: "1.0-2" }}
          {{ location.displayCurrency }}
        </span>
      </li>
      <li class="font-weight-bold list-group-item">
        Total
        <span class="float-right"
          >{{ order.totalPrice | number: "1.0-2" }}
          {{ location.displayCurrency }}</span
        >
      </li>
    </ul>
  </div>
</div>
