<div class="card" *ngIf="order">
  <div class="card-body">
    <ul class="list-group-flush">
      <p class="card-text">
        <strong>Référence : {{ order.id }}</strong>
        <button
          *ngIf="order.status !== 'terminée'"
          class="btn btn-light float-right"
          (click)="cancelOrder()"
        >
          Annuler la commande
        </button>
      </p>
      <p class="card-text">
        <strong>Status : </strong
        ><span
          class="badge"
          [ngClass]="{
            'badge-primary': order.status === 'confirmée',
            'badge-warning': order.status === 'annulée',
            'badge-success': order.status === 'terminée'
          }"
          >{{ order.status }}</span
        >
      </p>
      <p class="card-text">
        <strong>Commande du : </strong>
        {{ order.datePlaced | date: "long" }}
      </p>
      <p class="card-text"><strong>Email : </strong> {{ order.email }}</p>
      <p class="card-text"><strong>Message : </strong> {{ order.message }}</p>
      <li class="list-group-item" *ngFor="let item of order.items">
        <img
          src="../../assets/images/{{ item.product.imageUrl }}"
          class="mr-5 thumbnail"
          alt="{{ item.product.title }}"
        />
        <span class="float-right">
          {{ item.product.title }} : {{ item.quantity }} x
          {{ item.product.price }} = {{ item.totalPrice }}
        </span>
      </li>
      <li class="font-weight-bold list-group-item">
        Total
        <span class="float-right">{{
          order.totalPrice | currency: "EUR"
        }}</span>
      </li>
    </ul>
  </div>
</div>
