<h3>Mon panier</h3>

<ng-container *ngIf="cartService.cart as cart">
  <div class="table-responsive">
    <p class="text-center">
      <span class="offset-1">
        {{ cart.totalItemsCount }} article{{
          cart.totalItemsCount === 1 ? "" : "s"
        }}
        dans le panier
      </span>
      <button
        (click)="cartService.clearCart()"
        title="vider"
        class="btn btn-secondary btn-sm float-end mb-3"
      >
        Tout nettoyer 🧹
      </button>
    </p>
    <ng-container *ngIf="locService.location$ | async as location">
      <table aria-describedby="panier" class="table table-bordered">
        <thead>
          <tr>
            <th id="article">Article</th>
            <th id="image">Présentation</th>
            <th id="prix">Prix</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart.items">
            <td>
              <p>
                {{ item.title }}
              </p>
              <span class="pointer" (click)="cartService.removeFromCart(item)">
                ❌
              </span>
            </td>
            <td>
              <a routerLink="/bijoux/{{ item.id }}">
                <img
                  alt="{{ item.title }}"
                  src="{{ item.mainPicture | size: '100' }}"
                />
              </a>
            </td>
            <td>
              <p>
                {{ item.totalPrice | number: "1.0-2" }}
                {{ location.displayCurrency }}
              </p>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <th id="blanc1"></th>
          <th id="blanc2"></th>
          <th id="prixTotal">
            <strong>
              {{ cart.totalPrice | number: "1.0-2" }}
              {{ location.displayCurrency }}
            </strong>
          </th>
        </tfoot>
      </table>
    </ng-container>
  </div>
  <p>
    <button
      routerLink="/caisse"
      type="button"
      class="btn btn-warning btn-sm float-end"
      [disabled]="cart.totalItemsCount === 0"
    >
      Valider le panier
    </button>
    <button
      routerLink="/bijoux"
      type="button"
      class="btn btn-info btn-sm float-end mx-2"
    >
      Continuer mes achats
    </button>
  </p>
</ng-container>
