<h1>Toutes les commandes</h1>
<table
  aria-describedby="admin orders table"
  class="table"
  *ngIf="orders$ | async as orders"
>
  <thead>
    <tr>
      <th id="customer">Customer</th>
      <th id="date">Date</th>
      <th id="Details"></th>
    </tr>
  </thead>
  <tbody *ngFor="let order of orders">
    <tr>
      <td>{{ order.shipping.nom }}</td>
      <td>{{ order.datePlaced | date: "longDate" }}</td>
      <td><a [routerLink]="['/order-details', order.key]">Voir</a></td>
    </tr>
  </tbody>
</table>
