<form *ngIf="ps.product as product" #f="ngForm">
  <div class="form-group">
    <label for="title">Titre</label>
    <input
      required
      name="title"
      [(ngModel)]="product.title"
      id="title"
      type="text"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="price">Prix</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <img
            width="24px"
            height="24px"
            src="assets/dinar.png"
            alt="dinar tunisien"
          />
        </div>
      </div>
      <input
        name="price"
        [(ngModel)]="product.price"
        id="price"
        type="number"
        class="form-control"
        min="0"
        required
      />
    </div>
  </div>
  <div class="form-group">
    <label for="pierre">Pierres Gemmes</label>
    <input
      id="pierre"
      type="text"
      class="form-control"
      [inputFormatter]="formatter"
      [ngbTypeahead]="searchStone"
      [resultTemplate]="rtStone"
      [(ngModel)]="enteredStone"
      (keyup.enter)="addStone()"
      name="stone"
    />

    <ng-template #rtStone let-r="result" let-t="term">
      <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
    </ng-template>
    <div class="mt-2">
      <ul style="list-style: none;" class="list-inline">
        <li *ngFor="let s of product.stones" class="list-inline-item">
          <ng-container *ngIf="stoneService.getStoneObject(s) as stone">
            <span
              class="StoneFilter"
              [ngStyle]="{ color: stone.cssColor }"
              (click)="removeStone(stone.name)"
              >{{ stone.name }} |</span
            >
          </ng-container>
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="couleur">Couleurs</label>
    <select
      class="custom-select"
      id="couleur"
      (change)="addColor($event.target.value)"
      name="colors"
    >
      <option value="">Selectionner des couleurs</option>
      <option [value]="c.key" *ngFor="let c of colorService.filteredColors">
        <span
          ><img
            class="Color"
            src="assets/colors/{{ c.key }}.gif"
            [alt]="c.name"
          />
          {{ c.name }}</span
        ></option
      >
    </select>
    <div class="mt-2">
      <ul style="list-style: none;" class="list-inline">
        <li *ngFor="let c of product.colors" class="list-inline-item">
          <ng-container *ngIf="colorService.getColorObject(c) as color"
            ><span (click)="removeColor(color.key)">
              <img
                class="Color"
                src="assets/colors/{{ color.key }}.gif"
                [alt]="color.name"
              />
            </span>
          </ng-container>
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <progress
      id="uploader"
      [value]="uploadPercent | async"
      max="100"
    ></progress>
    <input multiple (change)="imageUpload($event)" type="file" value="upload" />
  </div>
  <button
    type="submit"
    (click)="save()"
    [disabled]="f.invalid"
    class="btn-light btn-lg"
  >
    💾
  </button>
  <button (click)="onReturn()" class="btn-light btn-lg float-right">
    🔙
  </button>
</form>
