<h1>Confirmation</h1>
<div class="row" *ngIf="cartService.cart as cart">
  <div class="col-md-6 mb-3">
    <form #f="ngForm">
      <div *ngIf="!user">
        <label for="email">Votre email</label>
        <input
          [(ngModel)]="visitor.email"
          name="email"
          id="email"
          type="email"
          pattern="^(\D)+(\w)*((\.(\w)+)?)+@(\D)+(\w)*((\.(\D)+(\w)*)+)?(\.)[a-z]{2,}$"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="message">Votre message</label>
        <textarea
          [(ngModel)]="visitor.message"
          name="message"
          id="message"
          class="form-control"
          placeholder="(facultatif)"
        ></textarea>
      </div>
      <button
        (click)="placeOrder()"
        [disabled]="f.invalid"
        type="submit"
        class="btn-warning btn-sm"
      >
        Valider ma commande
      </button>
    </form>
  </div>
  <div class="col">
    <shopping-cart-summary></shopping-cart-summary>
  </div>
</div>
