<div class="ContentLeft">
  <dl>
    <div>
      <dt>
        <a routerLink="/" style="color: black;">
          Collection complète
          <span *ngIf="!couleur && !pierre"> ({{ count }})</span></a
        >
      </dt>
      <dd>
        <ul>
          <li *ngFor="let stone of stoneService.allStones">
            <a
              class="StoneFilter"
              [ngStyle]="{ color: stone.cssColor }"
              routerLink="/colliers"
              [queryParams]="{ pierre: stone.name }"
              >{{ stone.name
              }}<span
                [ngStyle]="{ color: stone.cssColor }"
                *ngIf="stone.name === pierre"
              >
                ({{ count }})</span
              ></a
            >
          </li>
        </ul>
      </dd>
    </div>

    <div>
      <dt></dt>
      <dd>
        <ul class="list-inline">
          <li
            class="list-inline-item text-center"
            *ngFor="let color of colorService.allColors"
          >
            <a
              routerLink="/colliers"
              [queryParams]="{ couleur: color.name }"
              title="{{ color.name }}"
            >
              <img
                class="Color"
                src="assets/colors/{{ color.key }}.png"
                alt="{{ color.name }}"
              />

              <br />
              <span
                *ngIf="color.name === couleur; else space"
                style="color: #999;"
                >{{ count }}</span
              >
              <ng-template #space>
                <span>&nbsp;</span>
              </ng-template>
            </a>
          </li>
        </ul>
      </dd>
    </div>
  </dl>
</div>
