<div class="ContentLeft">
  <dl>
    <div>
      <dt id="MenuTitle">Menu</dt>
      <dd>
        <ul id="Menu">
          <li>
            <a
              [ngClass]="{ underline: category === 'bestOf' }"
              routerLink="/bijoux"
            >
              Promos
              <span *ngIf="category === 'bestOf'">
                ({{ filteredCount }})</span
              ></a
            >
          </li>
          <li>
            <a
              [ngClass]="{ underline: category === 'colliers' }"
              routerLink="/bijoux/colliers"
            >
              Colliers
              <span *ngIf="category === 'colliers'">
                ({{ filteredCount }})</span
              ></a
            >
          </li>
          <li class="mb-2">
            <a
              [ngClass]="{
                underline: category === 'bracelets-bagues-bo'
              }"
              routerLink="/bijoux/bracelets-bagues-bo"
            >
              Bracelets, Bagues et BO
              <span *ngIf="category === 'bracelets-bagues-bo'">
                ({{ filteredCount }})</span
              ></a
            >
          </li>
        </ul>
      </dd>
    </div>

    <div id="FilterByStone">
      <dt>Filtrer par :</dt>
      <dd>
        <ul>
          <li *ngFor="let stone of stoneService.allStones">
            <a
              [ngStyle]="{
                color: stone.cssColor
              }"
              [ngClass]="{ underline: stone.name === pierre }"
              routerLink="/bijoux"
              [queryParams]="{ pierre: stone.name }"
              >{{ stone.name
              }}<span *ngIf="stone.name === pierre">
                ({{ filteredCount }})</span
              ></a
            >
          </li>
        </ul>
      </dd>
    </div>

    <div id="FilterByColor">
      <dt></dt>
      <dd>
        <ul class="list-inline">
          <li
            class="list-inline-item text-center"
            *ngFor="let color of colorService.allColors"
          >
            <a
              routerLink="/bijoux"
              [queryParams]="{ couleur: color.name }"
              title="{{ color.name }}"
            >
              <img
                class="Color"
                src="assets/colors/{{ color.key }}.png"
                alt="{{ color.name }}"
              />

              <br />
              <span
                *ngIf="color.name === couleur; else space"
                style="color: #999;"
                >{{ filteredCount }}</span
              >
              <ng-template #space>
                <span>&nbsp;</span>
              </ng-template>
            </a>
          </li>
        </ul>
      </dd>
    </div>
  </dl>
</div>
