<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <a class="navbar-brand float-right" routerLink="/">
    <img
      height="30px"
      width="30px"
      src="assets/coeur-des-fruits-et-légumes.png"
      alt="coeur-des-fruits-et-légumes"
      [ngStyle]="{ filter: user ? 'initial' : 'grayScale(1)' }"
    />
  </a>
  <ul class="navbar-nav ml-auto">
    <ng-template #anonymousUser>
      <li class="nav-item">
        <a class="nav-link" (click)="googleSignin()">Connexion</a>
      </li>
    </ng-template>
    <li ngbDropdown *ngIf="user; else anonymousUser" class="nav-item">
      <a ngbDropdownToggle class="nav-link" id="dropdown01"
        >{{ user.displayName }}
        <img class="avatar" [src]="user.photoURL" alt="avatar" />
      </a>
      <div
        ngbDropdownMenu
        class="dropdown-menu dropdown-menu-right animate slideIn"
        aria-labelledby="dropdown01"
      >
        <a class="dropdown-item" routerLink="/profil/{{ user.uid }}"
          >Mon profil</a
        >

        <div class="dropdown-divider"></div>

        <ng-container *ngIf="user.isAdmin; else myOrders">
          <a class="dropdown-item" routerLink="/admin/colliers">Mes bijoux</a>
          <a class="dropdown-item" routerLink="/admin/clients">Mes clients</a>
          <a class="dropdown-item" routerLink="/admin/commandes"
            >Les commandes</a
          >
        </ng-container>

        <ng-template #myOrders>
          <a class="dropdown-item" routerLink="/commandes">Mes commandes</a>
        </ng-template>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" [routerLink]="" (click)="signOut()"
          >Déconnexion</a
        >
      </div>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/panier">
        <span
          style="margin-right: 2px;"
          class="badge badge-warning"
          *ngIf="cartService.cart as cart"
          >{{ cart.totalItemsCount }}</span
        >
        <span>👜</span>
      </a>
    </li>
  </ul>
</nav>
