<div class="card h-100">
  <a *ngIf="product.images.length > 0" href="#"
    ><img
      class="img-fluid"
      src="{{ product.images[0] | size: '200' }}"
      alt="{{ product.title }}"
  /></a>
  <div class="card-body">
    <h4 class="card-title">
      {{ product.title }}
    </h4>
    <h5>
      {{ product.price | currency: "EUR" }}
    </h5>
    <p class="card-text">
      <span
        class="float-right badge"
        [ngClass]="{
          'badge-primary': product.status === 'réservé',
          'badge-danger': product.status === 'vendu',
          'badge-success': product.status === 'disponible'
        }"
        >{{ product.status }}</span
      >
    </p>
  </div>
  <div *ngIf="showActions && cartService.cart as cart" class="card-footer p-0">
    <button
      (click)="addToCart()"
      [disabled]="product.status !== 'disponible'"
      *ngIf="
        product.status === 'disponible' &&
          cartService.cart.getItemQuantity(product.id) === 0;
        else removeProduct
      "
      class="btn btn-secondary btn-block"
    >
      Ajouter 👜
    </button>
    <ng-template #removeProduct>
      <button
        (click)="removeFromCart()"
        *ngIf="product.status === 'disponible'"
        class="btn btn-light btn-block"
      >
        Retirer 👜
      </button>
    </ng-template>
  </div>
</div>
