<div class="card mb-4">
  <img
    *ngIf="product.imageUrl"
    class="card-img-top"
    src="../../assets/images/{{ product.imageUrl }}"
    alt="{{ product.title }}"
  />
  <div class="card-body">
    <p class="card-title">
      <strong>
        {{ product.title }}
      </strong>
    </p>
    <p class="card-text">
      {{ product.price | currency: "EUR"
      }}<span
        class="float-right badge"
        [ngClass]="{
          'badge-primary': product.status === 'réservé',
          'badge-danger': product.status === 'vendu',
          'badge-success': product.status === 'disponible'
        }"
        >{{ product.status }}</span
      >
    </p>
  </div>
  <div *ngIf="showActions && cartService.cart as cart" class="card-footer p-0">
    <button
      (click)="addToCart()"
      [disabled]="product.status !== 'disponible'"
      *ngIf="
        product.status === 'disponible' &&
          cartService.cart.getItemQuantity(product.id) === 0;
        else removeProduct
      "
      class="btn btn-secondary btn-block"
    >
      Ajouter au panier
    </button>
    <ng-template #removeProduct>
      <button
        (click)="removeFromCart()"
        *ngIf="product.status === 'disponible'"
        class="btn btn-light btn-block"
      >
        Retirer du panier
      </button>
    </ng-template>
  </div>
</div>
