<p>
  <button routerLink="/colliers/nouveau" class="btn btn-success">
    Ajouter
  </button>
</p>
<p>
  <input
    (keyup)="filter(query.value)"
    #query
    type="text"
    class="form-control"
    placeholder="Rechercher..."
  />
</p>
<br />
<div class="table-responsive">
  <table
    aria-describedby="admin products"
    class="table table-bordered text-center"
  >
    <thead>
      <tr>
        <th id="auteur">Auteur</th>
        <th id="title">Intitulé</th>
        <th id="pierres">Pierres</th>
        <th id="présentation">Présentation</th>
        <th id="statut">Disponibilité</th>
        <th id="prixDT">Prix TND</th>
        <th id="prixEu">Prix €</th>
        <th id="supprimer"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of items">
        <td><a routerLink="/profil/{{ p.uid }}">🕴️</a></td>
        <td>{{ p.title }}</td>
        <td>{{ p.stones?.join() }}</td>
        <td>
          <a routerLink="/admin/colliers/{{ p.id }}">
            <img
              *ngIf="p.gallery.length > 0"
              alt="{{ p.title }}"
              src="{{ p.gallery[0] | size: '100' }}"
            />
          </a>
        </td>
        <td>
          {{ p.status }}
        </td>
        <td>{{ p.price }}</td>
        <td>{{ p.price / 3.17 | number: "1.0-0" }}</td>
        <td><a [routerLink]="" (click)="productService.delete(p)">🚮</a></td>
      </tr>
    </tbody>
  </table>
</div>
