<div class="table-responsive">
  <h3>Bijoux {{ productsState }}</h3>
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="input-group">
        <input
          (keyup)="filter(query.value)"
          class="form-control text-center"
          #query
          type="text"
          placeholder="filter par l'intitulé..."
        />
        <div class="input-group-append">
          <button routerLink="/admin/bijoux/nouveau" class="btn btn-info">
            Créer
          </button>
        </div>
      </div>
    </div>
    <div class="col mt-2">
      <h5 class="text-muted">Total : {{ products?.length }}</h5>
    </div>
    <div class="col text-right">
      <ng-container *ngIf="productsState !== 'disponibles'; else others">
        <button class="btn btn-light btn-lg" routerLink="/admin/bijoux">
          🔙
        </button>
      </ng-container>
      <ng-template #others>
        <button class="btn btn-success" routerLink="/admin/bijoux/vendus">
          Vendus
        </button>
        <button
          class="btn btn-secondary ml-2"
          routerLink="/admin/bijoux/archives"
        >
          Archivés
        </button>
      </ng-template>
    </div>
  </div>
  <table
    aria-describedby="admin products"
    class="table table-bordered"
    style="height: 100px"
  >
    <thead>
      <tr>
        <th id="numero">Numéro</th>
        <th id="auteur">Auteur</th>
        <th id="title">Intitulé</th>
        <th id="dateCreation">Créé le</th>
        <th id="poids">Poids</th>
        <th id="pierres">Pierres</th>
        <th id="présentation">Présentation</th>
        <th id="statut">Statut</th>
        <th id="prixDT">Prix TND</th>
        <th id="prixEu">Prix €</th>
        <th *ngIf="productsState == 'disponibles'" id="supprimer">Supprimer</th>
        <th id="archiverOuRestaurer">
          {{ productsState == "archivés" ? "Restaurer" : "Archiver" }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of items; let i = index">
        <td>{{ i + 1 }}</td>
        <td><span title="auteur" routerLink="/profil/{{ p.uid }}">🕴️</span></td>
        <td>
          {{ p.title }}
        </td>
        <td>
          {{ p.dateCreation | date }}
        </td>
        <td>{{ p.weight }}</td>
        <td>{{ p.stones?.join() }}</td>
        <td>
          <a [routerLink]="[]" (click)="goToPageProduct(p.id)">
            <img
              *ngIf="p.gallery.length > 0; else prisme"
              alt="{{ p.title }}"
              src="{{ p.gallery[0] | size: '100' }}"
            />
            <ng-template #prisme>
              <img
                [src]="imgNotAvailable | noImgSize: '100'"
                alt="photo non disponible"
                class="img-fluid"
              />
            </ng-template>
          </a>
        </td>
        <td>
          <p>
            {{ p.status }}
          </p>
          <p>
            <span
              title="exclusifs"
              style="font-size: 15px"
              (click)="makeExclusif(p)"
              >{{ p.exclusif ? "🌟" : "✸" }}
            </span>
          </p>
        </td>
        <td>{{ p.price }}</td>
        <td>{{ p.foreignPrice }}</td>
        <td *ngIf="productsState == 'disponibles'">
          <span title="supprimer" (click)="deleteProduct(p)">🗑️</span>
        </td>
        <td>
          <span title="Archiver ou restaurer" (click)="ArchiveOrRestore(p)"
            >🗄️</span
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #disallowModal>
  <div></div>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Suppression interdite</h4>
  </div>
  <div class="modal-body">
    <p>
      Vous ne pouvez ni supprimer ni archiver ce collier car il est réservé,
      Pour débloquer ce collier, vous avez 2 possibilités :
    </p>
    <p>
      1 : Annuler la commande déjà en cours, le collier sera alors de nouveau
      "Disponible".
    </p>
    <p>
      2 : Modifier directement le statut du collier en choisissant "Disponible"
      ou bien "Vendu" depuis le formulaire collier.
    </p>
  </div>
</ng-template>
