<h1>Mes commandes</h1>
<table
  aria-describedby="my orders"
  class="table"
  *ngIf="orders$ | async as orders"
>
  <thead>
    <tr>
      <th id="customerName">Customer</th>
      <th id="orderDate">Date</th>
      <th id="orderDetails"></th>
    </tr>
  </thead>
  <tbody *ngFor="let order of orders">
    <tr>
      <td>{{ order.shipping.nom }}</td>
      <td>{{ order.datePlaced | date: "longDate" }}</td>
      <td><a [routerLink]="['/order-details', order.id]">Voir</a></td>
    </tr>
  </tbody>
</table>
