<p>
  <button routerLink="/admin/products/new" class="btn btn-primary">
    Nouveau Produit
  </button>
</p>
<p>
  <input
    (keyup)="filter(query.value)"
    #query
    type="text"
    class="form-control"
    placeholder="Rechercher..."
  />
</p>
<br />
<ng-template #bootstrap>
  <table aria-describedby="admin products" class="table table-bordered">
    <thead>
      <tr>
        <th id="index"></th>
        <th id="titre">Produit</th>
        <th id="prix">prix</th>
        <th id="modifier"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of items; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ p.title }}</td>
        <td>{{ p.price }}</td>
        <td><a [routerLink]="['/admin/products', p.key]">Modifier</a></td>
      </tr>
    </tbody>
  </table>
</ng-template>
