<h1 class="font-weight-light text-center text-lg-left mt-4">
  Arc en perles 🌈💎
</h1>
<hr class="mb-4" />

<product-filter
  [filteredLength]="filteredProducts.length"
  [pierre]="pierreParam"
  [couleur]="couleurParam"
></product-filter>

<ng-container *ngIf="filteredProducts">
  <div class="row">
    <div
      *ngFor="let product of filteredProducts"
      class="col-lg-3 col-md-4 col-6"
    >
      <a routerLink="/colliers/{{ product.id }}" class="d-block mb-4 h-100">
        <img
          class="img-fluid"
          *ngIf="product.gallery.length > 0; else prisme"
          src="{{ product.gallery[0] | size: '400' }}"
          alt="{{ product.title }}"
        />
        <ng-template #prisme>
          <img
            [src]="imgNotAvailable | noImgSize: '400'"
            alt="photo non disponible"
            class="img-fluid"
          />
        </ng-template>
      </a>
    </div>
  </div>
</ng-container>
