<h1 class="font-weight-light text-center text-lg-left mt-4">
  Arc en perles 🌈💎
</h1>
<hr class="mb-4" />

<product-filter
  [count]="totalCount"
  [pierre]="pierreParam"
  [couleur]="couleurParam"
  [category]="category"
></product-filter>

<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="getItems()"
>
  <div class="row">
    <div *ngFor="let product of items" class="col-lg-3 col-md-4 col-6">
      <a
        routerLink="/bijoux/{{ product.id }}"
        class="d-block mb-4 h-100 text-center"
      >
        <ng-container *ngIf="product.gallery.length > 0; else prisme">
          <div class="prod-container">
            <img
              class="img-fluid shadow mb-2"
              src="{{ product.gallery[0] | size: '400' }}"
              alt="{{ product.title }}"
            />
            <span
              class="badge badge-pill top-right"
              [ngClass]="{
                'badge-primary': product.status === 'réservé',
                'badge-danger': product.status === 'vendu',
                'badge-warning': product.status === 'disponible'
              }"
              style="font-size: small; opacity: 0.5"
              >{{ product.status }}
            </span>
          </div>
        </ng-container>
        <ng-template #prisme>
          <img
            [src]="imgNotAvailable | noImgSize: '400'"
            alt="photo non disponible"
            class="img-fluid shadow mb-2"
          />
        </ng-template>
        <ng-container *ngIf="locationService.location$ | async as location">
          <span class="price"
            >{{
              user?.isAdmin
                ? product.foreignPrice
                : location.isInTN
                ? product.price
                : product.foreignPrice
            }}
            {{ user?.isAdmin ? "€" : location.displayCurrency }}</span
          >
        </ng-container>
      </a>
    </div>
  </div>
  <div *ngIf="totalCount > 0 && canLoadMore" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
