/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 80px;
  background-color: #f8f8f8;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  overflow-y: scroll;
}

h3 {
  text-align: center;
  margin-bottom: 15px;
}

.btn,
.nav-link,
.StoneFilter,
.pointer {
  cursor: pointer;
}

.btn-warning.active {
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-success.active {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.StoneFilter,
.ContentLeft {
  font-size: small;
  font-weight: bold;
  float: left;
  width: 190px;
}

ul {
  list-style: none;
}

#Menu {
  text-align: center;
  margin-left: 190px;
}

#Menu li {
  font-weight: 700;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 575.98px) {
  #FilterByStone,
  #FilterByColor {
    display: none;
  }

  #site-title {
    margin-left: 0px !important;
  }

  #Menu {
    margin-left: 0px;
  }

  .ContentLeft {
    float: none;
    width: 100%;
  }
}

.Color {
  width: 30px;
  height: 18px;
  padding: 2px;
  border: 1px solid #dedddd;
}

.table-responsive {
  text-align: center;
}

table {
  background-color: white;
  width: 100%;
}

.price {
  color: #222;
  font-weight: 800;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
