/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 80px;
  background-color: #f8f8f8;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
}

.btn,
.nav-link,
.StoneFilter,
.pointer {
  cursor: pointer;
}

.ContentLeft {
  float: left;
  width: 190px;
}

ul {
  list-style: none;
}

@media (max-width: 575.98px) {
  .ContentLeft {
    display: none;
  }
}

.Color {
  width: 30px;
  height: 18px;
  padding: 2px;
  border: 1px solid #dedddd;
}

.StoneFilter {
  font-size: small;
  font-weight: bold;
}

.table-responsive {
  text-align: center;
}

table {
  background-color: white;
  width: 100%;
}
