<div class="h-100">
  <div class="row">
    <div class="col-6 mt-4">
      <span
        *ngIf="product.gallery.length > 0; else prisme"
        (click)="openModal()"
        ><img
          class="img-fluid"
          src="{{ mainPicture | size: '400' }}"
          alt="{{ product.title }}"
          id="mainpic"
      /></span>
      <ng-template #prisme>
        <img
          class="img-fluid"
          src="{{ imgNotAvailable | noImgSize: '400' }}"
          alt="photo non disponible"
          id="imgNonDisponible"
        />
      </ng-template>
    </div>
    <div class="col m-3">
      <p class="text-right">
        <span
          class="badge badge-pill"
          [ngClass]="{
            'badge-primary': product.status === 'réservé',
            'badge-danger': product.status === 'vendu',
            'badge-success': product.status === 'disponible'
          }"
          style="font-size: small;"
          >{{ product.status }}</span
        >
      </p>
      <h5 class="text-center">
        {{ product.title }}
      </h5>
      <ul style="list-style: none;" class="list-inline mt-3">
        <li *ngFor="let s of product.stones" class="list-inline-item">
          <ng-container *ngIf="stoneService.getStoneObject(s) as stone">
            <a
              routerLink="/colliers"
              [queryParams]="{ pierre: stone.name }"
              class="StoneFilter"
              [ngStyle]="{ color: stone.cssColor }"
              >{{ stone.name }}</a
            >
          </ng-container>
        </li>
      </ul>
      <ul style="list-style: none;" class="list-inline">
        <li *ngFor="let c of product.colors" class="list-inline-item">
          <ng-container *ngIf="colorService.getColorObject(c) as color"
            ><a routerLink="/colliers" [queryParams]="{ couleur: color.name }">
              <img
                class="Color"
                src="assets/colors/{{ color.key }}.png"
                [alt]="color.name"
                [title]="color.name"
              />
            </a>
          </ng-container>
        </li>
      </ul>
      <ng-container *ngIf="locService.location$ | async as location">
        <h5 class="text-center">
          <span style="font-weight: 700;">
            {{ product.Price | number: "1.0-0" }}
          </span>
          <img
            src="assets/{{ location.isInTN ? 'dinar' : 'euro' }}.png"
            alt="image devise"
          />
        </h5>
      </ng-container>
      <div class="mb-3 text-center" *ngIf="cartService.cart as cart">
        <button
          (click)="addToCart()"
          *ngIf="
            product.status === 'disponible' &&
              cartService.cart.getItemQuantity(product.id) === 0;
            else removeProduct
          "
          class="btn btn-warning btn-block"
        >
          ➕ 👜
        </button>
        <ng-template #removeProduct>
          <button
            (click)="removeFromCart()"
            *ngIf="product.status === 'disponible'"
            class="btn btn-light btn-block"
          >
            ➖ 👜
          </button>
        </ng-template>
      </div>
    </div>
  </div>
  <ul *ngIf="product.gallery.length > 0" class="list-inline mt-2">
    <li
      class="list-inline-item"
      *ngFor="let picture of product.gallery; let i = index"
    >
      <a (click)="selectedPicture = i" [routerLink]=""
        ><img
          [ngClass]="{
            selected: selectedPicture === i,
            notSelected: selectedPicture !== i
          }"
          class="img-fluid"
          src="{{ picture | size: '100' }}"
          alt="{{ product.title }}"
      /></a>
    </li>
  </ul>

  <ng-template #modal>
    <!-- Modal Content (The Image) -->
    <img alt="{{ product.title }}" class="img-fluid" src="{{ mainPicture }}" />
  </ng-template>
</div>
