<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">
  Mes bijoux 💎🦪📿
</h1>
<hr class="mt-2 mb-5" />
<p>
  <button routerLink="/produits/nouveau" class="btn btn-success">
    Ajouter
  </button>
</p>
<p>
  <input
    (keyup)="filter(query.value)"
    #query
    type="text"
    class="form-control"
    placeholder="Rechercher..."
  />
</p>
<br />
<div class="table-responsive">
  <table
    aria-describedby="admin products"
    class="table table-bordered text-center"
  >
    <thead>
      <tr>
        <th id="auteur">Auteur</th>
        <th id="title">Intitulé</th>
        <th id="présentation">Présentation</th>
        <th id="pierres">Pierres</th>
        <th id="statut">Disponibilité</th>
        <th id="prixDT">Prix TND</th>
        <th id="prixEu">Prix €</th>
        <th id="modifier"></th>
        <th id="supprimer"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of items">
        <td><a routerLink="/profil/{{ p.uid }}">🕴️</a></td>
        <td>{{ p.title }}</td>
        <td>
          <img
            *ngIf="p.gallery.length > 0"
            alt="{{ p.title }}"
            src="{{ p.gallery[0] | size: '100' }}"
          />
        </td>
        <td>{{ p.stones?.join() }}</td>
        <td>
          <div
            class="btn-group btn-group-toggle"
            ngbRadioGroup
            name="availability"
            [(ngModel)]="p.status"
            (change)="productService.update(p)"
          >
            <label ngbButtonLabel class="btn-success">
              <input ngbButton type="radio" value="disponible" /> Disponible
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" value="réservé" /> Réservé
            </label>
            <label ngbButtonLabel class="btn-danger">
              <input ngbButton type="radio" value="vendu" /> Vendu
            </label>
          </div>
        </td>
        <td>{{ p.price }}</td>
        <td>{{ p.price / 3.17 | number: "1.0-0" }}</td>
        <td><a routerLink="/colliers/{{ p.id }}">👁️</a></td>
        <td><a [routerLink]="" (click)="productService.delete(p)">🚮</a></td>
      </tr>
    </tbody>
  </table>
</div>
