name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - master

env:
  FIREBASE_TOKEN: ${{secrets.FIREBASE_TOKEN}}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@V1
        with:
          node-version: 10
      - run: npm ci
      - run: npm run build
      - run: npm run deploy
