<ng-container *ngIf="customers$ | async as customers">
  <div class="table-responsive">
    <h3 class="text-center">Mes clients</h3>

    <table
      class="table table-bordered text-center"
      aria-describedby="mes clients"
    >
      <thead>
        <tr>
          <th id="email">Email</th>
          <th id="localisation">Localisation</th>
          <th id="ip_address">Adresse IP</th>
          <th id="dépenses">Total dépenses</th>
          <th id="nombre_de_commandes">Nombre de commandes</th>
          <th id="commandes"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.email }}</td>
          <td>{{ customer.loc }}</td>
          <td>{{ customer.ip }}</td>
          <td>{{ customer.expenses }}</td>
          <td>{{ customer.ordersCount }}</td>
          <td>👁️</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
