<ng-container *ngIf="product">
  <div class="row">
    <div class="col-md-6">
      <form #f="ngForm">
        <div class="row">
          <div class="offset-md-3 col-md-4">
            <div class="form-group text-center">
              <div
                class="btn-group btn-group-toggle"
                ngbRadioGroup
                name="status"
                [(ngModel)]="product.status"
              >
                <label ngbButtonLabel class="btn-success btn-sm">
                  <input ngbButton type="radio" value="disponible" /> Disponible
                </label>
                <label ngbButtonLabel class="btn-danger btn-sm">
                  <input ngbButton type="radio" value="vendu" /> Vendu
                </label>
              </div>
            </div>
          </div>
          <div class="col">
            <button
              type="button"
              (click)="onReturn()"
              class="btn btn-light btn-lg float-right"
            >
              🔙
            </button>
            <button
              type="submit"
              (click)="save()"
              [disabled]="f.invalid"
              class="btn btn-light btn-lg float-right"
            >
              💾
            </button>
          </div>
        </div>

        <div class="form-group">
          <label for="title">Titre</label>
          <input
            required
            name="title"
            placeholder="(Obligatoire)"
            [(ngModel)]="product.title"
            id="title"
            type="text"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="dateCreation">Date de création</label>
          <input
            required
            name="dateCreation"
            [(ngModel)]="product.dateCreation"
            id="dateCreation"
            type="date"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="weight">Poids en grammes</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span style="width: 24px; height: 24px;" title="balance"
                  >⚖️</span
                >
              </div>
            </div>
            <input
              name="weight"
              [(ngModel)]="product.weight"
              id="weight"
              type="number"
              class="form-control"
              min="0"
              required
            />
          </div>
        </div>

        <div class="form-group">
          <label for="price">Prix en dinars</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <img
                  width="24px"
                  height="24px"
                  src="assets/dinar.png"
                  alt="dinar tunisien"
                />
              </div>
            </div>
            <input
              name="price"
              [(ngModel)]="product.price"
              id="price"
              type="number"
              class="form-control"
              min="0"
              required
            />
          </div>
        </div>

        <div class="form-group">
          <label for="price">Prix en €</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <img
                  width="24px"
                  height="24px"
                  src="assets/euro.png"
                  alt="euro"
                />
              </div>
            </div>
            <input
              name="priceEU"
              [(ngModel)]="product.priceEU"
              id="priceEU"
              type="number"
              class="form-control"
              min="0"
              required
            />
          </div>
        </div>

        <div class="form-group">
          <label for="catégorie">Catégorie</label>
          <select
            class="custom-select"
            id="catégorie"
            [(ngModel)]="product.category"
            name="catégorie"
          >
            <option value="colliers">Colliers</option>
            <option value="bracelets_bagues_bo">Bracelets, Bagues et BO</option>
          </select>
        </div>

        <div class="form-group">
          <label for="pierre">Pierres Gemmes</label>
          <input
            id="pierre"
            type="text"
            class="form-control"
            [inputFormatter]="formatter"
            [ngbTypeahead]="searchStone"
            [resultTemplate]="rtStone"
            [(ngModel)]="enteredStone"
            (keyup.enter)="addStone()"
            name="stone"
          />

          <ng-template #rtStone let-r="result" let-t="term">
            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
          </ng-template>
          <div class="mt-2">
            <ul class="list-inline">
              <li *ngFor="let s of product.stones" class="list-inline-item">
                <ng-container *ngIf="stoneService.getStoneObject(s) as stone">
                  <span
                    class="StoneFilter"
                    [ngStyle]="{ color: stone.cssColor }"
                    (click)="removeStone(stone.name)"
                    >{{ stone.name }} |</span
                  >
                </ng-container>
              </li>
            </ul>
          </div>
        </div>

        <div class="form-group">
          <label for="couleur">Couleurs</label>
          <select
            class="custom-select"
            id="couleur"
            (change)="addColor($event.target.value)"
            name="colors"
          >
            <option value="">Selectionner des couleurs</option>
            <option
              [value]="c.key"
              *ngFor="let c of colorService.getFilteredColors(product)"
            >
              <span
                ><img
                  class="Color"
                  src="assets/colors/{{ c.key }}.png"
                  [alt]="c.name"
                />
                {{ c.name }}</span
              ></option
            >
          </select>
          <div class="mt-2">
            <ul class="list-inline">
              <li *ngFor="let c of product.colors" class="list-inline-item">
                <ng-container *ngIf="colorService.getColorObject(c) as color"
                  ><span (click)="removeColor(color.key)">
                    <img
                      class="Color"
                      src="assets/colors/{{ color.key }}.png"
                      [alt]="color.name"
                    />
                  </span>
                </ng-container>
              </li>
            </ul>
          </div>
        </div>

        <div class="form-group">
          <p>
            <ngb-progressbar
              [showValue]="true"
              type="success"
              [value]="uploadPercent | async"
            ></ngb-progressbar>
          </p>
          <input
            multiple
            (change)="imageUpload($event)"
            type="file"
            value="upload"
          />
        </div>
      </form>
    </div>
    <div class="col">
      <ng-container *ngIf="authService.user$ | async as user">
        <product-preview
          [canSetPic]="user && user.isAdmin"
          [product]="product"
        ></product-preview>
      </ng-container>
    </div>
  </div>
</ng-container>
